.ipynb_checkpoints
*.csv
*.png
*.xls
*.xlsx
*.pptx
*.txt
*.data-00000-of-00001
*.index
*.zip
*.exe
*.pyc
*.dll
*.bin
*.h
*.xml
*.bat
*.json
*.tff
*.pth
*.pt
*.pdf
*.npy

More/
baselines/
gym/
senv/
share/
data/
